@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    color: #ff6600;
    text-align: center;
}


body {
    background-image: url(/img/ajit-singh-as3yY6FlKo8-unsplash.jpg);
    font-family: 'Poppins', sans-serif;
    padding: 50px;
    background-position: cover;
    background-repeat: no-repeat;
}

.content {
    text-align: center;
    width: 100%;
}

h1 {
    color: black;
    text-align: center;
    margin-bottom: 0px;
}

a {
    color: #2b81d8;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

i.fas {
    color: black;
    text-align: center;
    margin-bottom: 0px;;
}

i.fab {
    color: #0565bf;
}

i:hover {
    color: #769494;
}

a:hover,
a:focus {
    color: black;
}

img {
    max-width: 75%;
    padding: 1%;
}

.contributors {
    width: 87%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 2em;
}

.contributors a:not(:last-of-type)::after {
    content: " |";
    color: #ff7e29;
}

@media (max-width: 600px) {
    .contributors {
        display: flex;
        flex-direction: column;
    }
    .contributors a {
        margin: 5px 0;
    }
    .contributors a:not(:last-of-type)::after {
        content: "";
    }
}

.contributors a {position: relative;}
.contributors a span {position: absolute; display: none; margin-left: auto; margin-right: auto; left: 0 ; }
.contributors a span img{border-radius: 80px;}
.contributors a:hover span {display: block;}